body {
    background-color: antiquewhite;
}

main #login {
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
}

#btsenha {
    margin-left: -35px;
}

#instruction2 {
    margin-left: 10px;
}

#sairlogin:hover {
    color: blue;
}

.pgprincipal {
    text-align: center;
}


